#container {
   width:800px;
	height:auto;
    margin-left:auto;
	margin-right:auto;
	margin-top:2px;
}

	
#header{
	height:100px;
	background-color:gray;
}
a:link{text-decoration:none;
background-color:#white;}
}
#sidebar {
    width:150px;
	height:400px;
	background-color:red;
	float:left;
}
#content {
	width:650px;
	height:400px;
	
	float:right;
}
#footer {
	height:100px;
	margin-bottom:21px;
    clear:both;
	background-color:green;
}